<p>
        <strong><%= comment.commenter %>:</strong> <%= comment.body %>
        <% if current_user == @user %>
                <%= link_to 'Delete Comment', [@user, @article, comment],
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
        <% end %>
</p>
